* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #333;
    padding: 20px;

    background-image: url("IMG_7567.JPG");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#nav {
    background: rgba(0, 0, 0, 0.8);
    padding: 12px;
    text-align: center;
    border-radius: 6px;
    margin-bottom: 25px;
}

#nav a {
    color: white;
    text-decoration: none;
    margin: 0 12px;
}

header,
section,
table,
footer {
    background: rgba(255, 255, 255, 0.377);
    max-width: 900px;
    margin: 25px auto;
    padding: 20px;
    border-radius: 6px;
}

header {
    text-align: center;
}

img,
video,
audio {
    display: block;
    margin: 15px auto;
    max-width: 100%;
}

ul,
ol {
    margin-left: 25px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

form {
    max-width: 500px;
    margin: auto;
}

label {
    display: block;
    margin-top: 10px;
}

input,
textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

button {
    margin-top: 15px;
    padding: 8px 15px;
    cursor: pointer;
}

footer {
    text-align: center;
    font-size: 14px;
    color: #555;
}
